name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  # disabled because the latest eslint version "ignores" option does not work as expected
  # lint:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v3

  #     - name: Setup project
  #       uses: ./.github/actions/setup

  #     - name: Lint files
  #       run: yarn lint

  #     - name: Typecheck files
  #       run: yarn typecheck

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup project
        uses: ./.github/actions/setup

      - name: Run unit tests
        run: yarn test

  # build:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v3

  #     - name: Setup project
  #       uses: ./.github/actions/setup

  #     - name: Build package
  #       run: yarn prepack
